@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');
:root {
    --Purple: hsl(259, 100%, 65%);
    --Light_red: hsl(0, 100%, 67%);
    --White: hsl(0, 0%, 100%);
    --Off_white: hsl(0, 0%, 94%);
    --Light_grey: hsl(0, 0%, 86%);
    --Smokey_grey: hsl(0, 1%, 44%);
    --Off_black: hsl(0, 0%, 8%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--Light_grey);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    overflow: hidden;
    color: var(--Smokey_grey);
}

.container {
    padding: 2% 5%;
    border-radius: 2em 2em 10em 3em;
    background-color: var(--White);
    width: 40%;
    height: 60%;
}

.input-wrapper {
    display: flex;
    margin-bottom: 3em;
    position: relative;
}

.input-wrapper div {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

label {
    margin-bottom: 0.5em;
    font-weight: 400;
}

button {
    padding: 1.5em;
    border-radius: 50%;
    position: absolute;
    background-color: var(--Purple);
    border: none;
    right: 0;
    top: 140%;
}

input {
    font-size: 2em;
    padding: 10px;
    width: 50%;
    font-weight: 700;
}

hr {
    margin: 5em 0;
}

p {
    font-size: 3em;
    font-weight: 800;
    color: var(--Off_black);
}

.num {
    color: var(--Purple);
}